</main>

<footer style="background-color: #68c0ffad;">
    <p style="text-align: center;">&copy; <%= new Date().getFullYear() %> Francis Ge. All rights reserved.</p>
</footer>
    
<script src="js/navbar.js"></script>
<script src="js/main.js"></script>
</body>

</html>