nav {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

#nav-content-wrapper {
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: space-around;
}

#logo {
  margin: 0;
  font-size: var(--font-xl);
  color: var(--text-nav-menu);
}

#nav-left-section {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

#search-bar-container {
  background-color: var(--search-bar-color);
  border-radius: 50px;
}

#search-bar {
  border: none;
  display: inline;
  padding: var(--spacing-xs);
  background-color: var(--search-bar-color);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#search-bar:focus {
  outline: none;
}

#search-button {
  border: none;
  border-radius: 50px;
  background-color: var(--search-button-color);
  color: var(--text-button);
  padding: var(--spacing-xs);
  font-weight: 600;
  cursor: pointer;
}

#nav-menu {
  margin: 0;
  display: flex;
  gap: var(--spacing-xl);
  list-style: none;
}

#nav-menu > li > a {
  text-decoration: none;
  color: var(--text-nav-menu);
  font-weight: 600;
}

@media (hover: hover) {
  #search-button:hover {
    background-color: var(--search-button-hover-color);
  }

  #nav-menu > li > a:hover {
    color: var(--text-nav-hover-menu);
  }
}
