* {
  font-family: "Fredoka", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-image: linear-gradient(
    to bottom,
    var(--bg-gradient-start) var(--bg-gradient-start-pos),
    var(--bg-gradient-end) var(--bg-gradient-end-pos)
  );
}

/* CSS variables for light mode */
:root {
  --bg-gradient-start: rgba(255, 255, 255, 0.7);
  --bg-gradient-end: rgba(104, 192, 255, 0.699);
  --bg-gradient-start-pos: 0%;
  --bg-gradient-end-pos: 100%;

  --text-nav-menu: #68bfff;
  --text-nav-hover-menu: #47b2ff;

  --text-button: #ffffff;
  --text-burning: #ff5151;

  --text-primary: #000000;
  --text-secondary: #5b5b5b;

  --text-uv-low: #35d83a;
  --text-uv-moderate: #fff300;
  --text-uv-high: #ffa325;
  --text-uv-very-high: #ff3914;
  --text-uv-extreme: #b567a4;

  --search-bar-color: #f1f1f1;
  --search-bar-dropdown-color: #f1f1f1;
  --search-button-color: #68bfff;
  --search-button-hover-color: #47b2ff;

  --primary-color: #68bfff;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 2.5rem;

  /* --search-dropdown-shadow: ; */
}
